<template>
  <div class="bell">
    <v-tooltip top>
      <template v-slot:activator="{ on, attrs }">
        <div
          v-bind="attrs"
          v-on="on"
          class="bell__button"
          @click="toggleManual"
          :style="{
            'width': `${width}px`
          }"
        >
          <div class="bell__icon">
            <BellRegular :fill="'white'" class="bell__iconSVG" v-if="!ringing" />
            <BellSolid :fill="'white'" class="bell__iconSVG" v-if="ringing" />
          </div>
          <div class="bell__text">
            Звенит звонок
          </div>
        </div>
      </template>
      <span>{{ ringing ? 'Выключить звонок' : 'Включить звонок вручную' }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import BellRegular from '~/components/svg/bell-regular.vue';
import BellSolid from '~/components/svg/bell-solid.vue';
import {Howl, Howler} from 'howler';

export default {
  components: {
    BellRegular,
    BellSolid
  },

  data() {
    return {
      ringing: false,
      width: 50,
      sound: new Howl({
        src: ['/bell.mp3']
      }),
      timerID: null,
    }
  },

  beforeMount() {
    this.$root.$on('ring', this.turnOnTimer);
  },

  methods: {
    turnOn() {
      this.ringing = true
      this.width = this.$el.children[0].scrollWidth
      this.sound.play();
      this.timerID = setTimeout(() => {
        this.turnOff();
      }, 5300)
    },

    turnOnTimer() {
      if (this.ringing === false) {
        this.turnOn();
      }
    },

    turnOff() {
      this.ringing = false
      this.width = 50
      this.sound.stop()
      clearTimeout(this.timerID);
      this.timerID = null;
    },

    toggleManual() {
      if (this.ringing) {
        this.turnOff();
      }
      else {
        this.turnOn();
      }
    }
  },

  beforeDestroy() {
    this.$root.$off('ring');
  }
}
</script>

<style lang="scss" scoped>
  .bell {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 15px;
  }

  .bell__button {
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-family: 'Lato';
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-color: map-get($blue, 'darken-1');
    transition: width .5s ease;
  }

  .bell__icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  .bell__iconSVG {
    width: 35%;
    height: 35%;
  }

  .bell__text {
    white-space: nowrap;
    padding-right: 25px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
  }
</style>