<template>
  <div class="clock">
    <div class="clock__textWrapper">
      <div class="clock__text">{{ text }}</div>
    </div>
    <div class="clock__mainWrapper">
      <div class="clock__main">{{ main }}</div>
    </div>
    <div class="clock__footerWrapper">
      <div class="clock__footer">{{ footer }}</div>
    </div>
  </div>
</template>

<script>
import DateJS from 'datejs'

export default {
  data () {
    return {
      currentTime: null,
      deltaTime: null,
      intervalID: null,
      lession: [
        { start: '08:30', finish: '09:15' },
        { start: '09:35', finish: '10:20' },
        { start: '10:35', finish: '11:20' },
        { start: '11:35', finish: '12:20' },
        { start: '12:35', finish: '13:20' },
        { start: '13:35', finish: '14:20' }
      ],
      stage: [],
      currentStageIndex: -1,
      lastTime: null
    }
  },

  computed: {
    text() {
      if (this.currentStageIndex === -1) {
        return null;
      }
      else {
        const stage = this.stage[this.currentStageIndex];
        let text = ""
        switch (stage.name) {
          case 'lession':
            text = `Урок ${stage.lessionNumber} закончится через`;
            break;
          case 'break':
            text = `Перемена закончится через`;
            break;
          case 'before':
            text = `Занятия начнутся через`;
            break;
          case 'after':
            text = `Занятий больше нет`;
            break;
          case 'no lessons':
            text = `Сегодня занятий нет`;
            break;
        }
        return text
      }
    },

    main() {
      if (this.currentStageIndex === -1 || this.currentStageIndex === (this.stage.length-1)) {
        return this.currentTime ? this.currentTime.toString('HH:mm:ss') : ''
      }
      else {
        return this.deltaTime ? this.deltaTime.toString('HH:mm:ss') : ''
      }
    },

    footer() {
      if (this.currentStageIndex === -1 || this.currentStageIndex === (this.stage.length-1)) {
      }
      else {
        return this.currentTime ? this.currentTime.toString('HH:mm:ss') : ''
      }
    }
  },

  beforeMount() {
    this.generateStages();
  },

  mounted() {
    this.update();
    this.intervalID = setInterval(() => {
      this.update()
    }, 100)
  },

  methods: {
    update() {
      this.currentTime = Date.parse('now')
      this.setCurrentStageIndex();
      if (this.currentStageIndex !== -1) {
        const stage = this.stage[this.currentStageIndex]
        this.deltaTime = new Date(stage.finish - this.currentTime);
        this.deltaTime.addMinutes(this.currentTime.getTimezoneOffset())
        if (this.currentStageIndex !== this.stage.length - 1) {
          if (this.deltaTime.toString("HH:mm:ss") === '00:00:00' && this.currentTime.toString("HH:mm") !== this.lastTime) {
            this.lastTime = this.currentTime.toString("HH:mm");
            this.$root.$emit("preventedRing")
          }
        }
        
      }
      else {
        this.deltaTime = null;
      }
    },

    generateStages() {
      if (this.lession.length === 0) {
        this.stage = [
          {
            start: Date.parse("00:00"),
            finish: Date.parse("tomorrow"),
            name: "no lessons"
          }
        ]
      }
      else {
        this.stage = [
          {
            start: Date.parse("00:00"),
            finish: Date.parse(this.lession[0].start),
            name: "before"
          }
        ]
        this.lession.forEach((lession, lessionIndex) => {
          if (lessionIndex === this.lession.length - 1) {
            this.stage.push({
              start: Date.parse(lession.start),
              finish: Date.parse(lession.finish),
              name: "lession",
              lessionNumber: lessionIndex + 1
            })
            this.stage.push({
              start: Date.parse(lession.finish),
              finish: Date.parse("tomorrow"),
              name: "after",
            })
          }
          else {
            this.stage.push({
              start: Date.parse(lession.start),
              finish: Date.parse(lession.finish),
              name: "lession",
              lessionNumber: lessionIndex + 1
            })
            const nextLession = this.lession[lessionIndex + 1];
            this.stage.push({
              start: Date.parse(lession.finish),
              finish: Date.parse(nextLession.start),
              name: "break",
            })
          }
        })
      }
    },

    setCurrentStageIndex() {
      this.currentStageIndex = this.stage.findIndex((stage) => {
        return this.currentTime.between(stage.start, stage.finish)
      })
    }
  },

  beforeDestroy() {
    clearInterval(this.intervalID);
    this.intervalID = null;
  }
}
</script>

<style lang="scss" scoped>
  .clock {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: map-get($grey, 'darken-4');
  }

  .clock__textWrapper {
    height: 41px;
  }

  .clock__text {
    font-size: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock__mainWrapper {
    height: 120px;
    margin: 15px 0;
  }

  .clock__main {
    font-size: 145px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .clock__footerWrapper {
    height: 48px;
  }

  .clock__footer {
    font-size: 39px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>