<template>
  <div class="prevent">
    <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
        <div
          v-bind="attrs"
          v-on="on"
          class="prevent__button"
          @click="toggle"
          :style="{
            'width': `${width}px`
          }"
        >
          <div class="prevent__text">
            Звонок отложен
          </div>
          <div class="prevent__icon">
            <HandPaperRegular :fill="'white'" class="prevent__iconSVG" v-if="!prevent"/>
            <HandPaperSolid :fill="'white'" class="prevent__iconSVG" v-if="prevent"/>
          </div>
        </div>
      </template>
      <span class="tooltip-center">{{ prevent ? 'Возобновить звонок' : 'Отложить звонок' }}</span>
    </v-tooltip>
  </div>
</template>

<script>
import HandPaperRegular from '~/components/svg/hand-paper-regular.vue';
import HandPaperSolid from '~/components/svg/hand-paper-solid.vue';

export default {
  components: {
    HandPaperRegular,
    HandPaperSolid
  },

  data() {
    return {
      width: 50,
      prevent: false
    }
  },

  beforeMount() {
    this.$root.$on("preventedRing", this.callRing)
  },

  methods: {
    toggle() {
      if (this.prevent) {
        this.prevent = false
        this.width = 50
      }
      else {
        this.prevent = true
        this.width = 204
      }
    },

    callRing() {
      if (this.prevent) {
        this.toggle();
      }
      else {
        this.$root.$emit('ring');
      }
    }
  },

  beforeDestroy() {
    this.$root.$off("preventedRing")
  }
}
</script>

<style lang="scss" scoped>
  .tooltip-center {
    text-align: center;
  }

  .prevent {
    position: fixed;
    top: 0;
    right: 0;
    margin: 15px;
  }

  .prevent__button {
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    font-family: 'Lato';
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    background-color: map-get($red, 'darken-1');
    transition: width .5s ease;
    justify-content: flex-end;
  }

  .prevent__icon {
    width: 50px;
    height: 50px;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
  }

  .prevent__iconSVG {
    width: 35%;
    height: 35%;
  }

  .prevent__text {
    white-space: nowrap;
    padding-left: 25px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
  }
</style>