@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Black.ttf');
  src: local('Lato Black'), local('~assets/fonts/Lato/Lato-Black'),
      url('~assets/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-BlackItalic.ttf');
  src: local('Lato Black Italic'), local('~assets/fonts/Lato/Lato-BlackItalic'),
      url('~assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Bold.ttf');
  src: local('Lato Bold'), local('~assets/fonts/Lato/Lato-Bold'),
      url('~assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-BoldItalic.ttf');
  src: local('Lato Bold Italic'), local('~assets/fonts/Lato/Lato-BoldItalic'),
      url('~assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Italic.ttf');
  src: local('Lato Italic'), local('~assets/fonts/Lato/Lato-Italic'),
      url('~assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Light.ttf');
  src: local('Lato Light'), local('~assets/fonts/Lato/Lato-Light'),
      url('~assets/fonts/Lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-LightItalic.ttf');
  src: local('Lato Light Italic'), local('~assets/fonts/Lato/Lato-LightItalic'),
      url('~assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Regular.ttf');
  src: local('Lato'), local('~assets/fonts/Lato/Lato-Regular'),
      url('~assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-Thin.ttf');
  src: local('Lato Thin'), local('~assets/fonts/Lato/Lato-Thin'),
      url('~assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato/Lato-ThinItalic.ttf');
  src: local('Lato Thin Italic'), local('~assets/fonts/Lato/Lato-ThinItalic'),
      url('~assets/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}