<template>
  <div class="index">
    <Clock />
    <Bell />
    <Prevent />
  </div>
</template>

<script>
import Clock from '~/components/Clock.vue'
import Bell from '~/components/Bell.vue'
import Prevent from '~/components/Prevent.vue'

export default {
  components: {
    Clock,
    Bell,
    Prevent
  }
}
</script>

<style lang="scss" scoped>
  .index {
    width: 100%;
    height: 100%;
    background-color: map-get($grey, 'lighten-3');
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>